@import url("https://fonts.googleapis.com/css2?family=Roboto&display=swap");

@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --white: #eeefff;
  --primary-color: #9b47bd;
  --sec-color: #edced7;
}

* {
  font-family: "Roboto", sans-serif;
}
